<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.122.0">
    <title>Presentation slide template · Bootstrap v5.3</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel-rtl/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="../carousel/carousel.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <style>
        /* Remove blue color from anchor tags */
        a.nav-link {
            color: white !important; /* Set text color to white */
        }
    </style>
</head>
<body>
    <!-- Your content here -->
    <!-- Header -->
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <%- include('header') %>
        </nav>
        <ul class="nav justify-content-center" style="margin-top: 150px;; font-size: 20px; color: white;text-align: center;">
            <li class="nav-item" style="border:3px solid #4CAF50 ;width:150px">
                <a class="nav-link" href="/sold">Add</a>
              </li>
            <li class="nav-item" style="border:3px solid #4CAF50;width: 150px">
                <a class="nav-link" href="/sold">Sold</a>
                </li>
          </ul>
          
    </header>
    <!-- Main content -->
    <main>
        <%- include('add') %>
        <!-- Footer -->
        <footer class="container">
            <!-- Footer content -->
        </footer>
    </main>

    <!-- JavaScript -->
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

